@{
    ViewData["Title"] = "Home Page";
}

 <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<body>
    <div class="text-center">
    <h1 class="display-4">ASSETMARK - Shift Allowance App</h1>

    <hr />
  
</div>
</body>
